<div class="container">
<br>
<h2>Formats of Magic: The Gathering</h2>
<br><br>

<!--using angular material design cards for each format  -->
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">

        <mat-tab label="Standard">
          <div class="demo-tab-content">
            <br />
            <h5><b>Standard</b></h5>
            <h5>The most popular format for Magic.  It involves a player making a pre-constructed deck out of only the most
            recent 2 years worth of cards.</h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Deck must be at least 60 cards with no maximum size</li>
              <li class="list-group-item">You can use 15 cards for a sideboard - which are not in play but can be switched with your deck</li>
              <li class="list-group-item">Include up to 4 of each card</li>
              <li class="list-group-item"><a href="https://magic.wizards.com/en/content/standard-formats-magic-gathering" class="btn btn-primary" target="_blank">Reference</a></li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Modern">
          <div class="demo-tab-content">
            <br />
            <h5><b>Modern</b></h5>
            <h5>Similar to Standard but includes more sets that are acceptable.  While Standard typically includes the last 2 years of sets
                Modern accepts Standard sets plus many years before - anything after Legacy.
            </h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Deck must be at least 60 cards with no maximum size</li>
              <li class="list-group-item">You can use 15 cards for a sideboard - which are not in play but can be switched with your deck</li>
              <li class="list-group-item">Include up to 4 of each card</li>
              <li class="list-group-item"><a href="https://magic.wizards.com/en/content/commander-format" class="btn btn-primary" target="_blank">Reference</a></li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Commander">
          <div class="demo-tab-content">
            <br />
            <h5><b>Commander</b></h5>
            <h5>This is a much different format which includes a chosen Hero and building a deck around them. The commander is a legendary creature
              and this format can have more than 2 players and the last player alive wins.
            </h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Deck consists of a legendary creature and 99 other cards</li>
              <li class="list-group-item">Can only have 1 copy of each card</li>
              <li class="list-group-item">All cards must follow the color of the commander</li>
              <li class="list-group-item">There can be 2-6 players in free-for-all and everyone starts with 40 life</li>
              <li class="list-group-item"><a href="https://magic.wizards.com/en/content/standard-formats-magic-gathering" class="btn btn-primary" target="_blank">Reference</a></li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Booster Draft">
          <div class="demo-tab-content">
            <br />
            <h5><b>Booster Draft</b></h5>
            <h5>This format is popular at Tournaments. While other formats involve a pre-constructed deck, this format involves players opening
              new, random packs and building a new deck on the spot.  Players sit around each other, open a new pack of cards, choose a single card
              and then pass the rest to their left.  Packs are continually opened and passed around until each player has a full deck.
            </h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Deck must be at least 40 cards</li>
              <li class="list-group-item">Deck can have as many lands as needed</li>
              <li class="list-group-item"><a href="https://magic.wizards.com/en/game-info/gameplay/formats/booster-draft" class="btn btn-primary" target="_blank">Reference</a></li>
            </ul>
          </div>
        </mat-tab>

        <mat-tab label="Legacy">
          <div class="demo-tab-content">
            <br />
            <h5><b>Legacy</b></h5>
            <h5>This format is the only one that allows the use of Magic cards from all generations and all sets.  It is similar to Standard and Modern
                but has opens up the use of the older sets before the Modern era.  With that said, consult the offical Magic website to see the cards that
                are banned from play.
            </h5>
            <br />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Deck must be at least 60 cards with no maximum size</li>
              <li class="list-group-item">You can use 15 cards for a sideboard - which are not in play but can be switched with your deck</li>
              <li class="list-group-item">Include up to 4 of each card</li>
              <li class="list-group-item"><a href="https://magic.wizards.com/en/game-info/gameplay/formats/legacy" class="btn btn-primary" target="_blank">Reference</a></li>
            </ul>
          </div>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <br /><br />

  <span class="card">
    <div class="card-body">
      <h5>More References</h5>
      <a href="https://magic.wizards.com/en/gameplay/rules-and-formats" class="btn btn-dark" target="_blank">Official Rules</a>
      <a href="http://media.wizards.com/2018/downloads/MagicCompRules%2020180119.pdf" class="btn btn-dark" target="_blank">Comprehensive Rules</a>
      <a href="https://magic.wizards.com/en/game-info/gameplay/rules-and-formats/banned-restricted" class="btn btn-dark" target="_blank">Banned Cards</a>
      <a href="https://en.wikipedia.org/wiki/Magic:_The_Gathering_formats" class="btn btn-dark" target="_blank">Formats - Wikipedia</a>
    </div>
  </span>

  <br /><br />

  <span class="card">
    <div class="card-body">
      <h5>More Info about Formats</h5>
      <iframe width="800" height="600" src="https://www.youtube.com/embed/Chhzd-ybR-M?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  </span>

</div>
