<h2>Deck Builder</h2>
<!--Parent component for the DeckBuilder child components  -->
<nav>
  <a routerLink="/deckbuilder" routerLinkActive="active" mat-raised-button color="primary">Form</a>
  <a routerLink="/deckbuilder/colors" routerLinkActive="active" mat-raised-button color="primary">Colors</a>
  <a routerLink="/deckbuilder/creatures" routerLinkActive="active" mat-raised-button color="primary">Creatures</a>
  <a routerLink="/deckbuilder/spells" routerLinkActive="active" mat-raised-button color="primary">Spells</a>
  <a routerLink="/deckbuilder/currentDeck" routerLinkActive="active" mat-raised-button color="primary">Current Deck</a>
</nav>

<hr>
<router-outlet></router-outlet>
